<div class="daily-forecast">
  <h2>Forecast</h2>
  <ul>
    <li>
      <div class="daily-item">
        <h3>Today</h3>
        <span class="icon">
          <img src="http://openweathermap.org/img/wn/{{for.daily[0].weather[0].icon}}@2x.png" />
          <i><img src="../assets/img/water_drop_white_8x8.svg" class="droplet" />{{for.daily[0].dew_point | number: '1.0-0'}}%</i>
        </span>
        <span class="temp-high">{{for.daily[0].temp.max | number: '1.0-0'}}&deg;</span>
        <span class="temp-low">{{for.daily[0].temp.min | number: '1.0-0'}}&deg;</span>
      </div>
    </li>
    <li>
      <div class="daily-item">
        <h3>Thu 30</h3>
        <span class="icon">
          <img src="http://openweathermap.org/img/wn/{{for.daily[1].weather[0].icon}}@2x.png" />
          <i><img src="../assets/img/water_drop_white_8x8.svg" class="droplet" />{{for.daily[1].dew_point | number: '1.0-0'}}%</i>
        </span>
        <span class="temp-high">{{for.daily[1].temp.max | number: '1.0-0'}}&deg;</span>
        <span class="temp-low">{{for.daily[1].temp.min | number: '1.0-0'}}&deg;</span>
      </div>
    </li>
    <li>
      <div class="daily-item">
        <h3>Fri 30</h3>
        <span class="icon">
          <img src="http://openweathermap.org/img/wn/{{for.daily[2].weather[0].icon}}@2x.png" />
          <i><img src="../assets/img/water_drop_white_8x8.svg" class="droplet" />{{for.daily[2].dew_point | number: '1.0-0'}}%</i>
        </span>
        <span class="temp-high">{{for.daily[2].temp.max | number: '1.0-0'}}&deg;</span>
        <span class="temp-low">{{for.daily[2].temp.min | number: '1.0-0'}}&deg;</span>
      </div>
    </li>
    <li>
      <div class="daily-item">
        <h3>Sat 31</h3>
        <span class="icon">
          <img src="http://openweathermap.org/img/wn/{{for.daily[3].weather[0].icon}}@2x.png" />
          <i><img src="../assets/img/water_drop_white_8x8.svg" class="droplet" />{{for.daily[3].dew_point | number: '1.0-0'}}%</i>
        </span>
        <span class="temp-high">{{for.daily[3].temp.max | number: '1.0-0'}}&deg;</span>
        <span class="temp-low">{{for.daily[3].temp.min | number: '1.0-0'}}&deg;</span>
      </div>
    </li>
    <li>
      <div class="daily-item">
        <h3>Sun 1</h3>
        <span class="icon">
          <img src="http://openweathermap.org/img/wn/{{for.daily[4].weather[0].icon}}@2x.png" />
          <i><img src="../assets/img/water_drop_white_8x8.svg" class="droplet" />{{for.daily[4].dew_point | number: '1.0-0'}}%</i>
        </span>
        <span class="temp-high">{{for.daily[4].temp.max | number: '1.0-0'}}&deg;</span>
        <span class="temp-low">{{for.daily[4].temp.min | number: '1.0-0'}}&deg;</span>
      </div>
    </li>
    <li>
      <div class="daily-item">
        <h3>Mon 2</h3>
        <span class="icon">
          <img src="http://openweathermap.org/img/wn/{{for.daily[5].weather[0].icon}}@2x.png" />
          <i><img src="../assets/img/water_drop_white_8x8.svg" class="droplet" />{{for.daily[5].dew_point | number: '1.0-0'}}%</i>
        </span>
        <span class="temp-high">{{for.daily[5].temp.max | number: '1.0-0'}}&deg;</span>
        <span class="temp-low">{{for.daily[5].temp.min | number: '1.0-0'}}&deg;</span>
      </div>
    </li>
  </ul>
</div>
